html {
  padding: 0;
  margin: 0;
}

/* Google Fonts - Poppins */

.pomodoro{
  font-family: system-ui;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1A1F2B;
}
.timer__setting-time{
  margin: 1rem;
}

label{
  display: inline-block;
  width: 6rem;
  color: #FFFFFF;
  font-weight: bold;
}

input{
  border: none;
  height: 1.7rem;
  border-radius: .2rem;
  padding-left: .4rem;
  font-weight: bold;
  max-width: 5rem;
}

.mode {
  color: #FFFFFF;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  display: flex;
  width: 420px;
  padding: 50px 0;
  border-radius: 8px;
  background: #fff;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
}

.circular-progress {
  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: conic-gradient(#FF8A80 360deg, #bcbcbc 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-value {
  position: relative;
  font-size: 4rem;
  font-weight: 600;
  color: #FF8A80;
}

.settings {
  margin: 1rem;
}

.settings button{
  color: #3D8FD1;
  font-size: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.settings button:hover {
  opacity: .8;
}

#btn-iniciar, #btn-detener, #set-settings{
  background-color: #3D8FD1;
  border: none;
  color: #FFFFFF;
  padding: .5rem 1rem;
  margin: .5rem 1rem;
  border-radius: .2rem;
  font-size: 1.2rem;
  font-weight: bold;
  width: 6rem;
  cursor: pointer;
}

#btn-iniciar:hover,
#btn-detener:hover,
#set-settings:hover{
  opacity: .8;
}

.disable{
  pointer-events: none;
  opacity: .7;
  cursor: not-allowed;
}

.timer__buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}


.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ccccccbd;
  display: flex;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .8s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__container {
  max-width: 400px;
  min-width: 240px;
  background-color: #1A1F2B;
  margin: auto;
  border-radius: .5rem;
  padding: 1rem;
  transform: var(--transform);
  transition: var(--transition);
}